{% extends "base.html" %}
{% block content %}
<div class="container" style="max-width: 800px; margin: 40px auto;">
    <h1 style="text-align:center;">ارتباط با ما</h1>

    <p style="line-height: 1.9; text-align: justify;">
        راه‌های ارتباط با ما
        <br><br>
        برای ارتباط با تیم پشتیبانی Perfume Land می‌توانید از طریق ایمیل زیر با ما در ارتباط باشید:
        <br>
        <b>perfumeland@gmail.com</b>
        <br><br>
        ما تلاش می‌کنیم در سریع‌ترین زمان ممکن پاسخ‌گوی پیام‌های شما باشیم.
    </p>
</div>
{% endblock %}
